<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="description" content="NICHER" />
        <meta name="author" content="NICHER" />

        <!-- FAVICON -->
        <!-- <link rel="icon" href="" sizes="32x32"> -->

        <title>{% block title %} ZeroMVC | {% endblock title %}</title>
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ HOME_URL }}/assets/css/BASE.css">
        {% endblock stylesheet %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    {% block content %}
        <body>
            {% block javascript %}
                <script type="text/javascript">
                    var baseurl = '{{ HOME_URL }}';
                </script>
                <script src="{{ HOME_URL }}/assets/js/BASE.js"></script>
            {% endblock javascript %}
        </body>
    {% endblock content %}

</html>